{{!< default}}

<main>
    {{#post}}
    <div class="max-w-[700px] mx-auto text-center py-24">
        <h1 class="space-bold second-color text-5xl">
            {{title}}
        </h1>
        <div class="text-base font-medium text-grey max-w-[500px] mx-auto mt-4">
            {{excerpt}}
        </div>
    </div>
    {{/post}}
    <div class="bg-[#f6f7f8] py-16">
        <div class="container">
            {{#get "authors" limit="all"}}
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10">
                    {{#foreach authors}}
                        {{> 'loop-author'}}
                    {{/foreach}}
                </div>
            {{/get}}
        </div>
    </div>
</main>